@import "../styles/reset.scss";
@import "../styles/mixins";

//font-family: 'Noto Sans KR', sans-serif;

.problem_wrap {
    width: 100%;
    background: #fff;
    font-family: 'Noto Sans KR', sans-serif;
    border-bottom: 8px solid #f5f5f5;
    margin-top: 0;
    .problem_header {
        width: 100%;
        height: 48px;
        border-bottom: 3px solid #f5f5f5;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .problem_type_section {
            font-size: 14px;
            line-height: 14px;
            width: 72%;
            display: flex;
            align-items: center;
            .problem_type{
                font-weight: 700;
                color: #9f9f9f;
                width: 21%;
                padding-left: 38px;
            }
            .detailed_type {
                font-weight: 400;
                color: #4c4c4c;
                width: 73%;//340px;
                white-space: nowrap;
                overflow:hidden;
                text-overflow: ellipsis;
            }
        }
        .problem_btn_section {
            width: 175px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-right: 3%;
            .btn {
                @include button
            }
            .active_btn {
                @include button;
                background: #00abff;
                color: #fff;
            }
        }
    }
    .problem_content {
        width: 100%;
        display: flex;
        padding-bottom: 20px;
        .content_number_section{
            width: 99px;
            margin-top: 11px;
            .content_number {
                color: #02c7f2;
                font-weight: 700;
                font-size: 24px;
                line-height: 34.75px;
                padding-left: 47px;
                width: 15px;
                height: 35px;
            }
        }
        .content_img_section{
            margin-top: 18px;
            margin-left: 4.5%;//40px;
        }
    }
}